header{
    position: fixed;
    top: 0vh;
    height:15vh;
    width:100%;
    background-color: #3e7246;
    color: #9cb092;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
    background-color:#9cb092 ;
    overflow-x: hidden;
}

section{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    height:85%;
    width: 100%;
   

}

#sec1 {
    position: absolute;
    top:15vh;
  
}

#lily1 {
    position:absolute;
    transform: rotate(-65deg);
    top:2vh;
    left:70vw;
    max-height: 80%;
    max-width:80%;
}

#lily2 {
    position:absolute;
    transform: rotate(80deg);
    top:35vh;
    left:40vw;
    max-height: 80%;
    max-width:80%;
}

#sec2 {
    position: absolute;
    top:125vh;
}

#lily3 {
    position:absolute;
    transform: rotate(80deg);
    top:40vh;
    left:40vw;
    max-height: 68%;
    max-width:80%;
}

#lily4 {
    position:absolute;
    transform: rotate(0deg);
    top:10vh;
    left:5vw;
    max-height: 80%;
    max-width:80%;
}

#metaphorGrid{
    position:absolute;
    display: flex;
    align-content:center;
    top:3vh;
    left:45vw;
    height:78vh;
    width: 47vw;
    
    
}

.metaphorImg{
    position:absolute;
    top: 0%;
    left: 0%;
    max-height: 100%;
    max-width: 100%;
}

.boxr1 {
    position:absolute;
    justify-content:center;
    top:0vh;
    height: 23vh;
    width:23vh;
    margin:2vh;
    object-fit: contain;
    align-content: center;
    text-align: center;
    color: #024335;
    font-size: 1.5vw;
    font-weight: bold;

    
}

.boxr2 {
    position:absolute;
    justify-content:center;
    top:25vh;
    height: 23vh;
    width:23vh;
    margin:2vh;
    object-fit: contain;
    align-content: center;
    text-align: center;
    color: #024335;
    font-size: 1.5vw;
    font-weight: bold;

    
}

.boxr3 {
    position:absolute;
    justify-content:center;
    top:50vh;
    height: 23vh;
    width:23vh;
    margin:2vh;
    object-fit: contain;
    align-content: center;
    text-align: center;
    color: #024335;
    font-size: 1.5vw;
    font-weight: bold;

   
}

#sec3 {
    position: absolute;
    top:235vh;
}

#timelinetitle {
    position: absolute;
    top: 5vh;
    height: 10vh;
    width: 40vw;
    border: 1px solid black;
}

.timeline {
    position: absolute;
    top: 20vh;
    height:60vh;
    width: 82vw;
    
}

.timelineImg {
    max-height: 100%;

}


#sec4 {
    position: absolute;
    top:345vh;
}

#sec5 {
    position: absolute;
    top:455vh;
}





